<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2d9060194c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/author.css" />
    <title>Reader Home Page</title>
</head>

<body class="body">
    <header class="header">
        <div>
            <h1 class="title">
                <%= authorName %>
            </h1>
            <h6 class="title">READER HOME PAGE</h1>
        </div>
        <nav>
            <ul class="navigation-container">
                <li><a href="/">MAIN HOME</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <h2>
            <%= blogTitle %>
        </h2>
        <h5>ARTICLES</h5>
        <ul class="articles-list">
            <% articles.forEach(function(article) { %>
                <a href="/reader/article/<%= article.id %>">
                    <li class="article-container">
                        <div class="space-between">
                            <div class="article-header">
                                <h3>
                                    <%= article.name %>
                                </h3>
                                <div>
                                    <i class="fa-regular fa-eye"></i>
                                    <%= article.number_of_reads %>
                                </div>
                                <div>
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <%= article.number_of_likes %>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="information">PUBLISHED: <%= article.published_at %>
                            </p>
                        </div>
                    </li>
                </a>
                <% }) %>
        </ul>
    </div>
    <div class="footer">
        <% if (currentUser) { %>
            <h3 class="title" class="information">
                LOGGED IN AS <%= currentUser %>
            </h3>
            <form action="/logout" method="GET">
                <button type="submit" class="button">LOG OUT</button>
            </form>
            <% } else { %>
                <form action="/login" method="GET">
                    <button type="submit" class="button">LOG IN</button>
                </form>
                <form action="/users/signup" method="GET">
                    <button type="submit" class="button">SIGN UP</button>
                </form>
                <% } %>
    </div>
</body>

</html>